*{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	max-width: 1400px;
	width: 100%;
}
.wrapper .header{width: 100%; background: #ffba00;}
.wrapper .container, 
.wrapper .menu{
	max-width: 960px;
	width: 100%;
	 margin:0 auto;
}
.wrapper .menu ul{
	margin-bottom: 0;
}
.wrapper .menu ul li{
	list-style: none;
	display: inline-block;
	padding: 12px;
}
.wrapper .menu ul li a{
	text-decoration: none;
	font-size: 16px;
	font-family: arial;
	color: black;
}
.wrapper .menu ul li a span{
	padding-left:  5px;
}
.wrapper .menu ul li:hover{
	color: black;
}
.wrapper  .title{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid gray;
}
.wrapper  .title-hinhanh{
	text-align: center;
}

.wrapper .fa-arrow-left,
.wrapper .title .xemtruoc{
	margin-bottom: -10px;
	padding-bottom: -20px;
}
.green{
	height: 3px;
	background: linear-gradient(100deg,green, #7ec176);
	width: 30%;
	margin-bottom: -10px;
	margin-left: -10px;
}
.container .upload .input{
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 40px;
	border: 1px solid #ffba00;
	height: 137px;
	margin-left: 10px;
	float: left;
}
.container .upload .input:hover{
	background: #000;
	opacity: 0.3;
}
.container .upload{
	width: 100%;
	display: inline-block;
}
.container .upload .input a{
	font-size: 65px;
	color:#ffba00;
}

.container  #preview-item-images{
	margin-top: 40px;
	display: inline-block;
	margin-left: 10px;	
	
}
/* .container  #preview-item-images .remove-img{
	position: absolute;
	top: -5px;
	right: -5px;
	z-index: 2;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: black;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}  */
/* .container  #preview-item-images .remove-img span{
	margin-top: -5px;
	margin-left: 5px;
	display: block;
} */
/* .container .upload .preview-item-images .item-image{
	float: left;
	width: 140px;
	height: 140px;
	margin-left: 10px;
	position: relative;
} */
.container .upload #preview-item-images .item-image img{
	width: 139px;
	height: 139px;
}
.container .decription{
	background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px 3px 3px 3px;
}
span.s-span{
	margin-top: 90px;
	margin-left: 10px;
	display: block;
}
.container .decription ul{
	padding-left: 15px;
}
.container .end-button{
	margin-top: 30px;
	background:#ffba00;

	font-size: 20px;
	text-align: center;
	 border-radius: 3px 3px 3px 3px;
}
.container .end-button a{
	color: #ffffff;
}

.wrapper .container .chay{
    animation: 5s chay forwards;
}
@keyframes chay{
    0%{
        width: 30%;
         border-bottom: 3px solid green;
    }
    100%{
        width: 100%;
         border-bottom: 3px solid green;   
    }
}

